.jumbotron{
    height: 100vh; 
    background-image: url(/img/tabea-schimpf-9-xfYKAI6ZI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section{
    background-color: rgb(55, 88, 85);
    height: 500px;
}
h1, nav {
    font-family: 'Aboreto', cursive;
}

button {
    font-family: 'Qwitcher Grypen', cursive;
}